* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
    box-sizing: border-box;
    /* background-color: #101010; */
}

.hero {
    height: 100vh;
    width: 100%;
    background-color: black;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 45px;
    padding-left: 8%;
    padding-right: 8%;
}

.logo {
    color: white;
    font-size: 35px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    letter-spacing: 1px;
    cursor: pointer;
}

span {
    color: #f9004d;
    font-family: 'Cinzel', serif;
}

nav ul li {
    list-style-type: none;
    display: inline-block;
    padding: 10px 25px;
}

nav ul li a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    text-transform: capitalize;

}

nav ul li a:hover {
    color: #f9004d;
    transition: .4s;
}

.btn {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.btn:hover {
    transform: scale(1.2);
}

.content {
    position: absolute;
    top: 50%;
    left: 8%;
    transform: translateY(-50%);
}

.content img {
    height: auto;
    width: 400px;
    padding-left: 30px;
    position: absolute;
    left: 700px;
    border-radius: 0cap;
}

h1 {
    color: white;
    margin: 20px 0px 20px;
    font-size: 75px;
    font-family: 'Cinzel', serif;
}

h3 {
    color: white;
    font-size: 25px;
    margin-bottom: 50px;
}

h4 {
    color: #fcfc;
    letter-spacing: 2px;
    font-size: 20px;
}

.newslatter form {
    width: 380px;
    max-width: 100%;
    position: relative;
}

.newslatter form input:first-child {
    display: inline-block;
    width: 100%;
    padding: 14px 130px 14px 15px;
    border: 2px solid #f9004d;
    outline: none;
    border-radius: 30px;
}

.newslatter form input:last-child {
    position: absolute;
    display: inline-block;
    outline: none;
    border: none;
    padding: 10px 30px;
    border-radius: 30px;
    background-color: #f9004d;
    color: white;
    box-shadow: 0px 0px 5px #000, 0px 0px 15px #858585;
    top: 6px;
    right: 6px;
}

.about {
    width: 100%;
    padding: 100px 0px;
    background-color: black;
}

.about img {
    height: auto;
    width: 330px;
    border-radius: 90px;
}

.about-text {
    width: 550px;
}

.main {
    width: 1130px;
    max-width: 95%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about-text h2 {
    color: white;
    font-family: 'Edu NSW ACT Foundation', cursive;
    font-size: 75px;
    text-transform: capitalize;
    margin-bottom: 20px;
}

.about-text h5 {
    color: white;
    letter-spacing: 2px;
    font-size: 22px;
    margin-bottom: 25px;
    text-transform: capitalize;
}

.about-text p {
    color: #fcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin-bottom: 45px;
}

button {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

button:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

.container {
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 30px 10%;
    background-color: black;
    
}

.container .main-title {
    max-width: 700px;
    margin: 0px auto;
    text-align: center;
    font-family: helvetica;
}

.container .main-title h1 {
    position: relative;
    font-size: 90px;
    color: white;
    margin-bottom: 30px;
    display: inline-block;
}

.container .main-title h1::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.container .main-title h1::after {
    content: '';
    position: absolute;
    width: 50%;
    height: 3px;
    background-color: #d03645;
    top: calc(125% - 1px);
    left: 50%;
    transform: translateX(-50%);
}

.main-title p {
    color: #808080;
}

.container .row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
}

.row .col {
    flex-basis: 46%;
}

.row .sub-title h2 {
    position: relative;
    color: white;
    font-size: 22px;
    font-family: helvetica;
    display: inline-block;
    margin-bottom: 30px;
}

.row .sub-title h2::before {
    content: '';
    position: absolute;
    width: 50%;
    height: 1px;
    top: 125%;
    left: 0;
    background-color: #808080;
}

.row .sub-title h2::after {
    content: '';
    position: absolute;
    width: 25%;
    height: 3px;
    top: calc(125% - 1px);
    left: 0;
    background-color: #d03645;
}

.subject {
    font-size: 30px;
    font-weight: thin;
    color: white;
    padding-bottom: 50px;
    text-transform: uppercase;
}

.progress-bar {
    position: relative;
    width: 100%;
    height: 5px;
    background-color: #808080;
    border-radius: 15px;
    margin-bottom: 20px;
}

.progress-bar::after {
    position: absolute;
    content: attr(value);
    top: -35px;
    right: 0;
    color: #808080;
    font-size: 18px;
}

.progress-line {
    position: absolute;
    width: 0%;
    height: 7px;
    background-color: #d03645;
    border-radius: 15px;
    top: -1px;
    animation: animate 1.5s cubic-bezier(1, 0.2, 0.2, 1) forwards;
}

@keyframes animate {
    100% {
        width: 100%;
    }
}

.progress-line::after {
    content: '';
    position: absolute;
    width: 13px;
    height: 13px;
    border-radius: 50%;
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
    background-color: #d03645;
}

@media(max-width: 768px) {
    .container {
        padding: 30px 8%;
    }
}

@media(max-width: 568px) {
    .container .row {
        flex-direction: column;
    }

    .container .main-title h1 {
        font-size: 36px;
    }

    .container .row {
        margin-top: 30px;
    }

    .row .col:nth-child(2) {
        margin-top: 20px;
    }
}


footer {
    position: relative;
    width: 100%;
    height: 400px;
    background: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}



footer p:nth-child(1) {
    font-size: 50px;
    color: white;
    margin-bottom: 20px;
    font-weight: bold;
}

footer a.button-two {
    background-color: #f9004d;
    color: white;
    text-decoration: none;
    border: 2px solid transparent;
    font-weight: bold;
    padding: 13px 30px;
    border-radius: 30px;
    transition: .4s;
}

footer a.button-two:hover {
    background-color: transparent;
    border: 2px solid #f9004d;
    cursor: pointer;
}

footer p:nth-child(2) {
    font-size: 17px;
    color: white;
    width: 500px;
    text-align: center;
    line-height: 26px;
}

.social {
    display: flex;
}

.social a {
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #f9004d;
    border-radius: 50%;
    margin: 22px 10px;
    color: white;
    text-decoration: none;
    font-size: 20px;
}

.social a:hover {
    transform: scale(1.3);
    transition: .3s;
}

.end {
    position: absolute;
    color: #f9004d;
    bottom: 35px;
    font-size: 14px;
}
